services:
  db:
    image: mysql:8.0
    platform: linux/x86_64 # M1/M2 Mac対策（念の為）
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: myapp_development
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      # DB接続設定を環境変数で渡すのが確実です
      DB_HOST: db
      DB_USERNAME: root
      DB_PASSWORD: password

  # 負荷試験ツール (後ほど使用)
  locust:
    image: locustio/locust
    ports:
      - "8089:8089"
    volumes:
      - ./locustfile.py:/mnt/locust/locustfile.py
    command: -f /mnt/locust/locustfile.py

volumes:
  db_data:
