name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  active_record_doctor:
    runs-on: ubuntu-latest
    services:
      db:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: myapp_test
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.8
          bundler-cache: true

      - name: Setup Database
        env:
          RAILS_ENV: test
          DB_HOST: 127.0.0.1
          DB_USERNAME: root
          DB_PASSWORD: password
        run: |
          bin/rails db:create
          bin/rails db:schema:load

      - name: Run active_record_doctor
        env:
          RAILS_ENV: test
          DB_HOST: 127.0.0.1
          DB_USERNAME: root
          DB_PASSWORD: password
        run: |
          bundle exec rake active_record_doctor:unindexed_foreign_keys
          bundle exec rake active_record_doctor:missing_unique_indexes
          bundle exec rake active_record_doctor:extraneous_indexes
          bundle exec rake active_record_doctor:missing_non_null_constraint
